@model INTEX.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpSSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpStreetAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpStreetAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpStreetAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpStreetAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorization.AuthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorization.AuthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType.EmpTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeType.EmpTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Zip)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Password)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
