@model IEnumerable<INTEX.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpSSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpStreetAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpStreetAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authorization.AuthName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeType.EmpTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpSSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStreetAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStreetAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authorization.AuthName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeType.EmpTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpID })
        </td>
    </tr>
}

</table>
