@model IEnumerable<INTEX.Models.OrderAssayTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestConclusive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderAssay.OrderAssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestCondition.TestConditionDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestConclusive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderAssay.OrderAssayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestCondition.TestConditionDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
