
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<br />
<div>@Html.ActionLink("Update Billing »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Written Report Summary »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Sales Representatives »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Singapore Pharmacologist »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("View Seattle Pharmacologist »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>
<br />
<div>@Html.ActionLink("Add Employees »", "Contact", "Home", null, new { @class = "btn btn-outline-info" })</div>